<h1>Order Confirmation</h1>
<h3>Order ID: <%= @order.id %></h3>
<h3>Quantity: <%= @order.quantity %></h3>
<h3>Subtotal: $<%= @order.subtotal %></h3>
<h3>Tax: $<%= @order.tax %></h3>
<h3>Total: $<%= @order.total %></h3>
<h3>Email: <%= @order.user.email %></h3>
<h3><%= @order.product.name %></h3>
<img src="<%= @order.product.images.first.url %>">
<h3>Purchased: <%= @order.created_at.strftime("%A, %d %b %Y %l:%M %p") %></h3>