<div class="well show-well">
  <div class="row">
    <div class="col-md-4">
     <h1><%= @product.name %></h1>
     <h3><%= @product.description %></h3>
     <h4>Made by <%= @product.supplier.name %></h4>
     <p>&nbsp</p>
      <% if @product.discounted? %> 
        <h4 class="discount-item">Discount Item!! <br>
        Price: <%= number_to_currency(@product.price) %></h4>
      <% else %>
        <h4>Everyday Value! <br>
        Price: <%= number_to_currency(@product.price) %></h4>
      <% end %>
      

      <p>Tax: <%= number_to_currency(@product.tax) %>  &nbsp&nbsp  Total: <%= number_to_currency(@product.total) %></p>
      <p>&nbsp</p>
      <h4>
        <% if @product.in_stock? == false %>Out of Stock<% end %>
      </h4>

      <%= form_tag "/orders", method: :post do %>
        <input type="hidden" name="product_id" class="form-control" value="<%= @product.id %>">
        <div class="form-group">
          <label>Quantity</label>
          <input type="text" name="quantity" class="form-control">
        </div>
        
        <div class="form-group">
          <input type="submit" value="Buy Now!" class="btn btn-primary">
        </div>
      <% end %>

      <p>&nbsp</p>
      <p>&nbsp</p>
      <p> <a href="/products" class="btn btn-primary  btn-lg" role="button">All Products</a></p>
      <p><a href="/products/<%= @product.id %>/edit" class="btn btn-default" role="button">Edit Product</a>
      </p>
    </div>


    <div class="col-md-8">
      <% @product.images.each do |image| %>
       <img src="<%= image.url %>" class="img-responsive">
      <% end %>
    </div>
  </div> 
</div>

  
  
  
  
