<div class="well show-well">
  <div class="row">
    <div class="col-md-4">
     <h1><%= @product.name %></h1>
      <h3><%= @product.description %></h3>
      <h4 class="<%= @product.discounted? %>"><%= @product.sale_method %> <br>
      Price: <%= number_to_currency(@product.price) %></h4>
      <h4>Tax: <%= number_to_currency(@product.tax) %>  &nbsp&nbsp  Total: <%= number_to_currency(@product.total) %></h4>
      <p>
        <% if @product.in_stock? == false %>Out of Stock<% end %>
      </p>
      <p>&nbsp</p>
      <p> <a href="/products" class="btn btn-primary  btn-lg" role="button">All Products</a></p>
      <p><a href="/products/<%= @product.id %>/edit" class="btn btn-default" role="button">Edit Product</a>
      </p>
    </div>
    <div class="col-md-8">
       <img src="<%= @product.image%>">
    </div>
  </div> 
</div>

  
  
  
  
