
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="well">
      <h1><%= @supplier.name %></h1>
      <h4>Email: <%= @supplier.email %> </h4>
      <h4>Phone Number: <%= @supplier.phone_number %> </h4>
    
      <h3>Products:</h3>
      <h4>
        <ul>
          <% @supplier.products.each do |product| %>
            <li><a href="/products/<%= product.id %>"><%= product.name %></a>
            </li>
          <% end %>
        </ul>
      </h4>
      <p>&nbsp</p>
      <a href="/suppliers/<%= @supplier.id %>/edit" class="btn btn-primary" role="button">Edit</a>
      <a href="/suppliers" class="btn btn-default" role="button">Cancel</a>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>